# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl

# Node
frontend/node_modules/
frontend/build/

# Maven
backend/target/

# Secrets
*.pem
*.key
.env

# OS
.DS_Store
**/*.tfvars
